<%- include ./layout/cabecalho.ejs %>


<h2 class="lecture-title">Escolha sua banda, artista ou busque álbuns através da nacionalidade ou nome de acordo com seu estilo preferido ;)</h2>

<div class="categories container pt-4">
    <h2 class="text-center title">Categorias de busca</h2>
    <div class="row mt-4 justify-content-center">
        <div class="col-8 col-md-4 mb-4">
            <img src="image/album_vinil.jpg" class="img-fluid">
            <a href="#" class="text-center mt-4 d-block">Músicas</a>
        </div>
        <div class="col-8 col-md-4 mb-4">
            <img src="/image/cantor.jpg" class="img-fluid">
            <a href="#" class="text-center mt-4 d-block">Artistas</a>
        </div>
        <div class="col-8 col-md-4 mb-4">
            <img src="public/image/alphabet.jpg" class="img-fluid">
            <a href="#" class="text-center mt-4 d-block">Nomes e Nacionalidades</a>
        </div>
    </div>
</div>

<div class="container-fluid bg-primary mt-5 about-us">
    <div class="row h-100 align-items-center">
        <div class="col-md-6 about-us-image bg-image"></div>
        <div class="col-md-6 text-light">
            <div class="py-5 sobre-proposta">
                <h2 class="title display-4">Sobre a proposta do site</h2>
                <p>Construir um sistema web para manter um registro de artistas musicais e seus álbuns. Cada álbum possui várias músicas, as quais poderão ser consultadas pelo sistema. O sistema também deve permitir a busca de artistas por nome ou nacionalidade. O sistema também deve ser capaz de exibir um relatório dos álbuns de um artista, o qual pode ser ordenado por nome, ano, ou duração total do álbum. Um álbum pode ter a participação de vários artistas, sem distinção. Já a música pode possuir um ou mais autores e intérpretes (todos considerados artistas).</p>
                <!--<p>Ut aliquam dolor vitae consequat blandit. Sed vehicula nulla quam, ut malesuada nisi bibendum eget. Cras ut augue massa. Quisque auctor erat et lacus venenatis,</p> -->
            </div>
        </div>
      
    </div>
</div>


<%- include ./layout/rodape.ejs %>
