<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Anton|Dosis:400,800" rel="stylesheet">
    <link rel="stylesheet" src="css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" src="css/styles.css" crossorigin="anonymous">
    <title>BMJS</title>
</head>

<body>

    <!-- barra de navegação -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
            <a class="navbar-brand" href="#">BMJS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <div class="dropdown show">
                    <a class="btn btn-primary dropdown" href="#" role="button" id="dropdownArtistas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Artistas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownArtistas">
                      <a class="dropdown-item" href="/Artistas">Todos os Artistas</a>
                      <a class="dropdown-item" href="/Artistas/form">Cadastro de Artistas</a>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="dropdown show">
                    <a class="btn btn-primary dropdown" href="#" role="button" id="dropdownMusicas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Musicas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMusicas">
                      <a class="dropdown-item" href="/MusicasSolo">Todos as Musicas Solos</a>
                      <a class="dropdown-item" href="/MusicasSolo/form">Cadastro de Musicas Solos</a>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="dropdown show">
                    <a class="btn btn-primary dropdown" href="#" role="button" id="dropdownAlbuns" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Albuns
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownAlbuns">
                      <a class="dropdown-item disabled" href="/Albuns">Todos os Albuns</a>
                      <a class="dropdown-item disabled" href="/Albuns/form">Cadastro de Albuns</a>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Sobre nós</a>
                </li>
              </ul>
            </div>
          </nav>

    <!-- #--------------------------# -->

 <div class="container">