</div>

    <script src="../public/js/jquery.slim.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>

<footer class="footer mt-4">
    <div class="container mt-4 py-4">
        <div class="row justify-content-center text-center text-md-left">
            <div class="col-md-4 mt-4 mt-md-0">
                <h3 class="title">Gêneros</h3>
                <nav class="footer-menu">
                    <a href="#" class="nav-link">Rock</a>
                    <a href="#" class="nav-link">Pop</a>
                    <a href="#" class="nav-link">Funk</a>
                    <a href="#" class="nav-link">Outro</a>
                </nav>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
                <h3 class="title">Sobre nós</h3>
                <nav class="footer-menu">
                    <a href="#" class="nav-link">Nossa história</a>
                    <a href="#" class="nav-link">Missão, Visão & Valores</a>
                    <a href="#" class="nav-link">Privacidade e Segurança</a>
                    <a href="#" class="nav-link">Termos de serviço</a>
                </nav>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
                <h3 class="title">As mais pedidas</h3>
                <nav class="footer-menu">
                    <a href="#" class="nav-link">10 melhores músicas dos últimos 6 meses</a>
                    <a href="#" class="nav-link">10 melhores álbuns dos últimos 6 meses</a>
                    <a href="#" class="nav-link">10 melhores bandas dos últimos 6 meses</a>
                </nav>
            </div>
        </div>
    </div>

    <div class="container justify-content-center">
        <p class="d-block w-100 text-center">Andrew Silva e Yasmin Medeiros. Sistema de registro 2020 &copy; </p>
    </div>
</footer>

</html>